.main {
  padding-top: 70px;
}


.section-about__title {
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  margin-bottom: 25px;
  margin-right: 2px;
}

.section-about__title-h3 {
  display: flex;
  font-weight: 500;
  font-size: 22px;
  padding-top: 1px;
  margin-right: 3px;
  text-align: center;
  justify-self: center;
  align-items: center;
  margin-bottom: 35px;
}

.section-about__title-h3::before {
  display: inline-flex;
  content: " ";
  background-color: var(--color-grey);
  width: 43px;
  height: 2px;
  margin-right: 23px;
}

.section-about__title-h3::after {
  display: inline-block;
  content: " ";
  background-color: var(--color-grey);
  width: 43px;
  height: 2px;
  margin-left: 23px;
}

.section-about__paragraph {
  justify-self: center;
  max-width: 724px;
  min-height: 83px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 50px;
  margin-right: 2px;
}

.section-about__list {
  display: flex;
  justify-content: center;
  gap: 50px;
  counter-reset: list-item-count 0;
  margin-bottom: 70px;
}

.section-about-list__item {
  display: flex;
  flex-direction: column;
  flex-basis: 196px;
  gap: 16px;
  align-items: center;
}

.section-about-list__item::before {
  display: flex;
  content: counter(list-item-count);
  align-items: center;
  justify-content: center;
  counter-increment: list-item-count;
  width: 122px;
  height: 122px;
  background: rgb(35, 199, 236);
  border-radius: 100%;
  color: var(--color-white);
  font-size: 57px;
  font-weight: 500;
  line-height: 100%;
  text-align: center;
}

.item__paragraph {
  min-height: 57px;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
}

.main__section-contact-screen {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding-top: 70px;
  position: relative;
  background-image: url(./img/original_598199574f1350638e11b2d2_5982c05803796.png);
  background-position-y: center;
  background-size: cover;
  z-index: 1;
}

.main__section-contact-screen::before { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background: rgba(47, 50, 75, 0.85);
  z-index: -1;
}

.section-contact-screen__title {
  color: var(--color-white);
  font-size: 35px;
  font-weight: 700;
  line-height: 41px;
  text-align: center;
  margin-bottom: 18px;
  margin-right: 25px;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}

.fieldset__legend {
  color: rgba(255, 255, 255, 0.8);
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  margin-bottom: 50px;
}

.fieldset__input-block {
  display: flex;
  flex-direction: column;
  gap: 21px;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 1px;
}

.input-block__input {
  width: 423px;
  min-height: 44px;
  border: 1.38px solid var(--color-white);
  border-radius: 50px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
  padding-left: 24px;
}

.input-block__input:last-child {
  padding-left: 25px;
}

.fieldset__submit-button {
  box-sizing: border-box;
  border: none;
  width: 218px;
  min-height: 48px;
  border-radius: 50px;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
  background: rgb(21, 169, 203);
  color: var(--color-white);
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  text-align: center;
  margin-bottom: 51px;
  padding-bottom: 2px;
}

.section-contact-screen__paragraph {
  color: var(--color-white);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 70px;
  margin-right: 1px;
}

.contact-paragraph__agree-link {
  position: relative;
  color: #4A76A8;
}

.contact-paragraph__agree-link::after {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 95%;
  content: " ";
  width: 87px;
  height: 1px;
  background: #4A76A8;
}

@media (min-width: 321px) {
  .swiper,   
  .swiper__button-prev, 
  .swiper__button-next, 
  .button-next__img,
  .button-prev__img {
    display: none;
    visibility: hidden;
    width: 0;
    height: 0;
    
  }
}

@media (max-width: 1024px) {

  .main {
    padding-top: 70px;
  }

  .section-about__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 23px;
  }
  
  .section-about__title-h3 {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 32px;
    margin-right: 2px;
  }
  
  .section-about__title-h3::before {
    width: 40px;
    height: 2px;
    margin-right: 20px;
  }
  
  .section-about__title-h3::after {
    width: 40px;
    height: 2px;
    margin-left: 22px;
  }
  
  .section-about__paragraph {
    max-width: 666px;
    min-height: 76px;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 50px;
  }

  .section-about__list {
    margin-right: 2px;
  }

  .section-about-list__item {
    flex-basis: 180px;
    gap: 26px;
  }
  
  .section-about-list__item::before {
    width: 104px;
    height: 104px;
    font-size: 52px;
    padding-top: 2px;
  }
  
  .item__paragraph {
    min-height: 52px;
    font-size: 18px;
    line-height: 21px;
  }
  
  .main__section-contact-screen {
    background-image: url(./img/original_5981_1024.jpeg);
  }

  .section-contact-screen__title {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 16px;
    margin-right: 8px;
  }
  
  .fieldset__legend {
    font-size: 20px;
    line-height: 23px;
    padding-left: 17px;
    margin-bottom: 47px;
  }
  
  .fieldset__input-block {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    margin-bottom: 48px;
  }
  
  .input-block__input {
    width: 380px;
    min-height: 43px;
    border: 2px solid;
    padding-left: 23px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
  }

  .input-block__input:last-child {
    margin-left: -4px;
  }

  .fieldset__submit-button {
    margin-bottom: 30px;
  }

  .section-contact-screen__paragraph {
    font-size: 17px;
    line-height: 20px;
    margin-bottom: 57px;
  }
  
  .contact-paragraph__agree-link::after {
    width: 73px;
    top: 98%;
  }
}

@media (max-width: 320px) {
  .section-about__list {
    visibility: hidden;
  }

  .main {
    padding-top: 30px;
  }
    
  .section-about__title {
    font-size: 20px;
    line-height: 23px;
    min-height: 49px;
    padding-top: 1px;
    padding-left: 6px;
    margin-bottom: 15px;
  }
  
  .section-about__title-h3 {
    font-size: 16px;
    line-height: 20px;
    min-height: 23px;
    padding-bottom: 3px;
    padding-left: 4px;
    justify-content: center;
    gap: 26px;
    margin-bottom: 25px;
  }
  
  .section-about__title-h3::before {
    width: 19.71px;
    height: 1px;
    margin-right: 0;
  }
  
  .section-about__title-h3::after {
    width: 19.71px;
    height: 1px;
    margin-left: 0;
  }

  .section-about__paragraph {
    max-width: 286px;
    min-height: 85px;
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 40px;
    margin-right: 4px;
  }

  .section-about__list-wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    padding: 0 15px;
    min-height: 182px;
    margin-bottom: 60px;
  }

  .section-about__list {
    display: none;
  }

  .section-about-list__item {
    display: flex;
    position: absolute;
    max-width: 166px;
  }
  
  .section-about-list__item::before {
    width: 104px;
    height: 104px;
    font-size: 52px;
  }
  
  .swiper-item__paragraph {
    display: flex;
    min-height: 52px;
    font-size: 18px;
    line-height: 21px;
  }
  
  .main__section-contact-screen {
    padding-top: 31px;
  }

  .main__section-contact-screen {
    background-image: url(./img/original_598199574f1350638e11b2d2_5982c05803796320px.png);
  }

  .section-contact-screen__title {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
    padding-top: 0;
    margin-right: 2px;
  }
  
  .form__fieldset {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
  }
  
  .fieldset__legend {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 35px;
    padding-left: 0;
  }
  
  .fieldset__input-block {
    gap: 13px;
    margin-bottom: 43px;
  }
  
  .input-block__input {
    max-width: 290px;
    min-height: 28px;
    border-width: 1px;
    border-radius: 50px;
    padding: 6px 205px 6px 18px;
    font-size: 14px;
    line-height: 16px;
  }
  
  .input-block__input:last-child {
    padding-left: 17px;
    margin-left: 0px;
  }

  .fieldset__submit-button {
    width: 174px;
    min-height: 38px;
    box-shadow: 0px 2.7px 16.8px 0 rgba(21, 169, 203, 0.3);
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 30px;
  }
  
  .section-contact-screen__paragraph {
    font-size: 11px;
    line-height: 13px;
    margin-bottom: 29px;
  }
  
  .contact-paragraph__agree-link::after {
    width: 49px;
  }
}