.footer {
  display: flex;
  justify-content: center;
  padding-top: 45px;
  background: rgb(47, 50, 75);
}

.footer__content {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}

.footer-content__logo {
  display: flex;
  gap: 19px;
  align-items: center;
}

.footer-content__logo::before {
  content: url(./img/Logo.svg);
}

.footer-content__paragraph_rules {
  max-width: 127px;
}

.footer-content__paragraph {
  color: var(--color-white);
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
}

.footer-content__call-me {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.f-call-me__tel-link { 
  color: var(--color-white);
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  margin-bottom: 3px;
}

.f-call-me__call-me-link {
  color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.f-call-me__call-me-link::after {
  display: block;
  content: " ";
  width: 135px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

@media (max-width: 1024px) {
  .footer {
    padding-top: 37px;
  }
  
  .footer__content {
    display: flex;
    padding: 0 30px;
    margin-bottom: 49px;
  }
  
  .footer-content__logo::before {
    content: url(./img/Logo-1024.svg);
  }
  
  .footer-content__paragraph_made-in {
    opacity: 0.5;
  }
  
  .f-call-me__tel-link { 
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 4px;
  }
  
  .f-call-me__call-me-link {
    font-size: 13px;
    line-height: 15px;
  }
  
  .f-call-me__call-me-link::after {
    width: 106px;
    border-radius: 50px;
  }
}

@media (max-width: 320px) {

  .footer {
    padding-top: 25px;
    flex-wrap: wrap;
  }
  
  .footer__content {
    padding: 0 15px;
    margin-bottom: 25px;
  }
  
  .footer-content__logo::before {
    content: url(./img/Logo-320.svg);
    width: 30px;
    height: 30px;
  }
  
  .footer-content__paragraph_rules {
    max-width: 87.3px;
  }
  
  .footer-content__paragraph_made-in {
    display: none;
    visibility: hidden;
  }

  .footer-content__paragraph {
    font-size: 8px;
    line-height: 9px;
  }
  
  .footer-content__call-me {
    display: flex;
    height: 24px;
    flex-direction: column;
    align-items: center;
  }

  .f-call-me__tel-link { 
    display: none;
  }
  
  .f-call-me__call-me-link {
    visibility: hidden;
  }
  
  .f-call-me__call-me-link::before {
    display: flex;
    visibility: visible;
    content: url(./img/Phone.svg);
    width: 24px;
    height: 24px;
    align-self: center;
    justify-self: flex-end;
  }
  
  .footer__paragraph-in-320px {
    display: flex;
    visibility: visible;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    opacity: 0.5;
    padding: 15px 79px;
    background: rgb(42, 44, 63);
  }

}