.header { 
  position: relative;
  background-image: url(./img/stag-office-mockup.png);
  background-position-y: center;
  background-size: cover;
  z-index: 1;
}

.header::before { 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background: rgba(47, 50, 75, 0.85);
  z-index: -1;
}

.header__head-block {
  display: flex;
  box-sizing: border-box;
  padding-top: 40px;
  width: 75%;
  justify-self: center;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 120px;
}

.head-block__call-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.header__head-block::before { 
  content: url(./img/Logo.svg);
  width: 68px;
  height: 68px;
}

.call-me__tel-link { 
  color: var(--color-white);
  font-size: 23.85px;
  line-height: 28px;
  text-align: center;
}

.call-me__call-me-link {
  position: relative;
  color: var(--color-white);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.call-me__call-me-link::after {
  display: block;
  bottom: -2px;
  left: -1px;
  position: absolute;
  content: " ";
  width: 131.98px;
  height: 1px;
  background: rgba(255, 255, 255, 0.5);
}

.header__section { 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-section__title { 
  color: rgba(255, 255, 255, 0.86);
  max-width: 990px;
  font-size: 52px;
  font-weight: 900;
  line-height: 61px;
  text-align: center;
  margin-bottom: 35px;
  margin-right: 2px;
}

.header-section__paragraph { 
  max-width: 960px;
  min-height: 89px;
  color: rgba(255, 255, 255, 0.75);
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 90px;
  margin-right: 2px;
}

.header-section__button { 
  border: none;
  width: 200px;
  height: 48px;
  border-radius: 50px;
  box-shadow: 0px 4px 25px 0px rgba(21, 169, 203, 0.3);
  background: rgb(21, 169, 203);
  color: var(--color-white);
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 120px;
  margin-right: 2px;
}

@media (max-width: 1024px) {

  .header__head-block {
    padding-top: 26px;
    width: 964px;
    margin-bottom: 70px;
  }

  .head-block__call-me {
    gap: 5px;
    max-width: 186px;
    min-height: 49px;
  }
  
  .header__head-block::before {
    content: url(./img/Logo-1024.svg);
    width: 60px;
    height: 60px;
  }
  
  .call-me__tel-link { 
    font-size: 21px;
    line-height: 25px;
    margin-right: 2px;
  }
  
  .call-me__call-me-link {
    font-size: 13px;
    line-height: 15px;
  }
  
  .call-me__call-me-link::after {
    width: 106px;
    border-radius: 50px;
    bottom: -4px;
    left: 0px;
  }
  
  .header-section__title { 
    max-width: 780px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 27.57px;
    margin-right: 0px;
  }
  
  .header-section__paragraph { 
    max-width: 754px;
    min-height: 70px;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 62.43px;
    padding-top: 2px;
    margin-right: 1px;
  }
  
  .header-section__button { 
    margin-bottom: 70px;
    width: 202px;
  }
}

@media (max-width: 320px) {
  
  .header { 
    padding-top: 16px;
    background-image: url(./img/stag-office-mockup320px.png);
    background-size: cover;
  }

  .header::before { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: " ";
    background: rgba(47, 50, 75, 0.85);
    z-index: -1;
  }
  
  .header__head-block {
    padding-top: 0px;
    padding-bottom: 2px;
    width: 290px;
    height: 30px;
    margin-bottom: 65px;
  }
  
  .head-block__call-me {
    display: flex;
    width: 24px;
    height: 24px;
    align-items: flex-end;
    padding-top: 12px;
  }
  
  .header__head-block::before { 
    content: url(./img/Logo-320.svg);
    width: 30px;
    height: 30px;
  }
  
  .call-me__tel-link { 
    display: none;
  }
  
  .call-me__call-me-link {
    visibility: hidden;
  }
  
  .call-me__call-me-link::before {
    display: flex;
    visibility: visible;
    content: url(./img/Phone.svg);
    justify-self: flex-end;
  }
  
  .header__section { 
    padding: 0 15px;
  }
  
  .header-section__title { 
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
  }
  
  .header-section__paragraph {
    display: none;
    visibility: hidden;
    width: auto;
    min-height: 77px;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 58px;
  }
  
  .header-section__paragraph_320px {
    visibility: visible;
    display: block;
    padding-top: 4px;
  }

  .header-section__button { 
    width: 161px;
    height: 38px;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    padding-bottom: 1px;
    margin-bottom: 65px;
  }
}